ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuO4+4OSL94dBtBFPyzoWMFp7nphtJLC2LzWnRFAvrzZqW6tdP8oktikk9ZEnmgLY/dET33wJ1d4w9kUzshcCNEw2qdsZdv9J4aCzsJF0U+WLgtFKO1JhGshEFa/3CethblT+Y1nRLL3hhk8O44tvHkJQjbx5qiIE+/bK5celeukYtJYX6f7Ih6gKLBg3x3+lZWJHt18uqDDkh1VHcVrLk5b6OkJjwkkcy2Go/9PG4T44QxALKpq4xV9/aIfcoWGvXq+NnF6DTRA7fuEgZ97sZaQ2n1R9RIPWhGyu+gOg5XI681taXMox9UptB3KPhK5sdIo9nAUPcoBENc/w2T3z5 mtabe@thinkpad-x1-carbon
